body {
background-color: rgb(74, 74, 126);
color: rgb(199, 199, 199);
}

.todo-List {
  background-color: gray;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid purple;
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 4px solid greenyellow;
  color: #f5a3a3;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

